{% extends "base.html" %}

{% block content %}
    {# <h1 class="page-title">{{ config.extra.translations[lang][0].all_tags }}</h1> #}
    <h1 class="page-title">all tags</h1>

    <div class="tag-cloud">
        <ul class="tags">
            {% for term in terms %}
            <li>
                <a href="{{ term.name | safe }}">
                    {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
