{%- import "macros.html" as macros -%}
{% macro header() %}
<nav class="nb">
    <div class="nb_container">
        <a href="{{ macros::rel_url(path="") }}"><h1 class="nb_title">{{config.title}}</h1></a>
        <ul class="nb_list">
            {% for item in config.extra.menu %}
            <li><a class="nb_item" href="{{ macros::rel_url(path=item.path) }}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
        <button class="nb_btn"><span class="nb_btn_icon"></span></button>
    </div>
</nav>
{% endmacro header %}

{% macro footer() %}
<footer>
    <ul>
        <li><a href="{{ macros::rel_url(path="") }}">goodsoul.de</a></li>
        <li>✱</li>
        <li>built with <a href="https://getzola.org">Zola</a></li>
        <li>✱</li>
        <li>{{ now() | date(format="%Y-%m-%d") }}</li>
    </ul>
</footer>
{% endmacro footer %}

