{% extends "base.html" %}

{% block content %}
<p class="subtitle">{{config.description}} <a href="/about">more ...</a></p>
<p>Recent posts:</p>

{% set section = get_section(path="blog/_index.md") %}
{% for page in section.pages %}
{% if loop.index > config.extra.num_recent %}{% break %}{% endif %}
<li>
  <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  <p class="date">{{ page.date }}</p>
</li>
{% endfor %}

<p><a href="{{ get_url(path='@/blog/_index.md') }}">all posts ...</a></p>
{% endblock content %}