{%- macro rel_url(path, trailing_slash=false, cachebust=false) -%}
    {# remove base url from result #}
    {%- set url = get_url(path=path, trailing_slash=trailing_slash, cachebust=cachebust) | replace(from=config.base_url, to="") -%}
    {%- if current_path != "/" -%}
        {# if were not in root put as many ../ as we're up in the path #}
        {%- set parts = current_path | split(pat="/") -%}
        {%- for i in parts | slice(end=-2) -%}../{%- endfor -%}
    {%- endif -%}
    {# trim starting slash #}
    {%- if url is starting_with("/") -%}
        {{- url | trim_start_matches(pat="/") -}}
    {%- else -%}
        {{- url -}}
    {%- endif -%}
{%- endmacro rel_url -%}


{%- macro github_link(path) -%}
{%- set path = path | trim_end_matches(pat="/") -%}
<a class="post-github" href="{{ config.extra.github }}{{ path }}.md">github</a>
{%- endmacro github_link -%}


{%- macro post_list_item(page) -%}
{# <a href="{{page.path}}"> #}
<div class="post_list_item">
    <span>{{ page.title | safe }}</span>
    <div class="title_meta">
    <div class="content_date">{{ page.date }}</div>
    {%- for tag in page.taxonomies.tags %}
      {%- set tagpath = "tags/" ~ tag -%}
      <a class="post-tag" href="{{ macros::rel_url(path=tagpath) }}">#{{ tag }}</a>
    {% endfor -%}
    <a href="{{ macros::rel_url(path=page.path) }}"> </a>
    </div>
</div>
{# </a> #}
{%- endmacro post_list_item -%}


{%- macro content_head(page, github_link=false) -%}
<div class="content_head">
    <span>{{ page.title | safe }}</span>
    <div class="content_date">{{ page.date }}</div>
    {%- for tag in page.taxonomies.tags %}
    <a class="post-tag" href="../../tags/{{ tag }}">#{{ tag }}</a>
    {% endfor -%}
    {%- if github_link -%}
    {{ macros::github_link(path=page.path) }}
    {% endif -%}
</div>
{%- endmacro content_head -%}
